{
  "presets" : [
    "latest",
    "react"
  ],
  "plugins" : [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "root"  : ["./client"],
        "alias" : {
          "components" : "./components",
          "state"      : "./state",
          "utils"      : "./utils"
        }
      }
    ]
  ]
}
